.skeleton{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.wrapper {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skeleton__item {
    width: 270px;
    padding: 20px;
}
.card img {
    
    object-fit: contain;
}

.skeletton__images {
    width: 100%;
    height: 250px;
    background: #ddd;
    border-radius: 14px;
}

.skeleton__line {
    width: 100%;
    height: 30px;
    background: #ddd;
    margin-top: 14px;
    border-radius: 6px;

}

.skeleton__line:nth-child(3) {
    width: 80%;
}

.skeleton__line:nth-child(4) {
    width: 60%;
}

.skelete__inme {
    background: linear-gradient(90deg, #ddd, #f7f7f7, #ddd);
    background-size: 200%;
    animation: skeleton 1s linear 0s infinite;
}

@keyframes skeleton {
    to {
        background-position: 200%;
    }

}


.card {
    margin-top: 30px;
    border-radius: 10px;
    width: 270px;
    border: 5px;
    padding-bottom: 16px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    background: #fff;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 10px ;
    overflow: hidden;
    cursor: default;
    transition: all 400ms ease;
    position: relative;
   
}

.card__icon{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 14px;
}
.eey{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}
.card__new{
    padding: 4px 12px;
    font-size: 12px;
    color: #fff;
    background: #00FF66;
    position: absolute;
    border: none;
    top: 12px;
    left: 12px;
}
.card__image{
    width: 190px;
    height: 180px;
}

.card__foto{
    width: 270px;
    height: 250px;
    border-radius: 4px;
    background: #Fff;
    margin: 10px auto;
}
.wrapper {
    margin-top: -80px;
    height: 100%;
    gap: 30px;
    overflow: hidden;

}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
    border-radius: 14px;
   
    
}

h3 {
    color: #8B8E99;
    cursor: pointer;
}

.desck{
    font-size: 20px;
    font-weight: 800;
    color: #DB4444;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-right: 5px;
    margin-left: 8px;
}

.buy{
    padding: 5px 0;
    width: 100%;
    border: none;
    background: black;
    color: #fff;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(-20px);
}
.buy:hover{
transform: translateY(-95px);
opacity: 1;
}

.semore {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DB4444;
    padding: 10px;
    margin-bottom: 20px;
    margin: auto;
    cursor: pointer;
    border: none    ;
    margin-bottom: 40px;
    color: #Fff;
}
.card__star{
    display: flex;
    gap: 5px;
    align-items: center;
}
.collection {
    display: flex;
    list-style: none;
    overflow: auto;
    padding: 10px 50px;
    gap: 20px;
    cursor: pointer;
}

.item {
    font-size: 16px;
    color: #004;
    font-family: cursive
}
.card__item{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #000000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin-top: -10px;
}
.item data {
    white-space: nowrap;
}
.meta {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.meta img {
    width: 50px;
    height: 50px;
}

.creat {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.icon{
    display: flex;
    text-align: end;
}

i:hover{
    color: red;
}
@media (max-width:1100px) {
    .skeleton{
        margin-top: 0px;
    }
    .collection{
        margin-top: 0px;
    }
    
}
@media (max-width:760px) {
    .skeleton{
        margin-top:0px;
    }

    .card{
        width: 350px;
    }



    .collection{
        margin-top: 10px;
    }
    .semore {
        width: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #DB4444;
        padding: 10px;
        margin-bottom: 20px;
        margin: auto;
        cursor: pointer;
        border: none    ;
        margin-bottom: 40px;
        color: #Fff;
    }
    
}